
.events {
  .eventsScroller {
    position: absolute;
    top: 60px;
    left: 0px;
    bottom: 70px;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    .evRow {
      width: 100%;
      position: relative;
      img {
        width: 100%;
        position: relative;
      }
      .evName {
        position: absolute;
        color: white;
        bottom: 20px;
        left: 30px;
        font-size: 30px;
      }
    }
  }

  .search {
    position: absolute;
    top: 18px;
    left: 10px;
    i{
      font-size:19px;
      color:#5C5C5C;
      display: inline-block;
    }
    input{
      width: 110px;
      border: 0px;
      background: rgba(0, 0, 0, 0);
      font-size:20px;
      color:#5C5C5C;
      display: inline-block;
    }
  }
}
